<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <style media="screen">
    body{
      background:green;
    }
  </style>
  <body>

<div class="container" >
  <div class="jumbotron">

  <h1>All Books Information </h1> <hr>
  <ol>
      {% for book in books %}
      <li> <a href="/detail/{{book.id}}">{{book.title}}</a> </li>
      {% endfor %}
  </ol>

  <a class="btn btn-success" href="/create"> Insert a new record </a>
</div>
</div>

  </body>
</html>
